* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  background-color: grey;
  font-family: arial;
}

/* navbar sopra */
#uppernavbar {
  height: 65px;
  display: flex;
  justify-content: center;
  background-color: #24343c;
}

#navbar {
  height: 100%;
  width: 60%;
}

#navbar ul {
  list-style: none;
  display: inline;
}

#navbar li {
  list-style: none;
  display: inline;
}

.navleft {
  height: 100%;
  width: 40%;
  float: left;
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e4eae6;
}

.navright {
  height: 100%;
  width: 60%;
  float: left;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e4eae6;
}

.navright i {
  margin-left: 15px;
}
/* FINE navbar sopra */

/* navbar sotto */
#bottomnavbarcontainer {
  height: 860px;
  display: flex;
  justify-content: center;
}

#bottomnavbar {
  height: 100%;
  width: 60%;
  /* border: 2px solid black; */
}

#bottomnavbar ul {
  list-style: none;
  display: inline;
}

#bottomnavbar li {
  list-style: none;
  display: inline;
}
/* sottonavbar sinistra */
.bottomnavleft {
  height: 10%;
  width: 20%;
  /* border: 2px solid yellow; */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* sottonavbar destra */
.bottomnavright {
  height: 10%;
  width: 80%;
  /* border: 2px solid yellow; */
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
}

.bottomnavright:hover li {
  cursor: pointer;
}

/* blocco sotto */
.bottomnavbarblock {
  height: 90%;
  width: 50%;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttontouch {
  padding: 15px;
  background-color: #1a948f;
  border: 2px solid #1a948f;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

#buttonread{
  padding: 15px;
  background-color: transparent;
  border: 2px solid #1a948f;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.subbottomnavbarblock {
  height: 60%;
  /* border: 2px solid blue; */
}

.subbottomnavbarblock p {
  margin-top: 10px;
}

#hr {
  font-weight: bold;
  color: #51bdbc;
}

#productivity {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

#planning {
  font-size: 25px;
  color: #e4eae6;
}

/* Human Capital Core Business Performance */
.containerhcp {
  height: 550px;
  background-color: #e4eae6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerhcp p {
  margin-top: 10px;
}

#humancapital {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 30px 30px;
}

#hcpicon1 {
  background-color: #E0FFFF;
  border-radius: 50%;
  border: 1px solid #E0FFFF;
  padding: 15px;
  color: #097a7c;
}

#hcptitle {
  font-size: 20px;
  font-weight: bold;
}

#hcpicon2 {
  background-color: #E0FFFF;
  border-radius: 50%;
  border: 1px solid #E0FFFF;
  padding: 15px;
  color: #097a7c;
}

#hcpicon3 {
  background-color: #E0FFFF;
  border-radius: 50%;
  border: 1px solid #E0FFFF;
  padding: 15px;
  color: #097a7c;
}

#corebusiness {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 30px 30px;
}

#performance {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 30px 30px;
}
/* FINE Human Capital Core Business Performance */

/* The Company */
.containercompany {
  height: 600px;
  /* background-color: brown; */
}

.containercompanyleft {
  height: 100%;
  width: 50%;
  background-color: white;
  float: left;
}

.containercompanyleft-blockup {
  height: 40%;
  width: 60%;
  padding: 40px 40px;
  /* background-color: orange; */
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

}

.containercompanyleft-blockup p {
  margin-top: 10px;
  display: flex;
}

#companynetwork {
  font-size: 16px;
  font-weight: bold;
  color: #038483;
}

#companytitle {
  font-size: 60px;
  font-weight: bold;
}

#companyparagraph {
  margin-bottom: 5px;
  color: black;
}

.containercompanyleft-blockdown {
  height: 60%;
  width: 60%;
  /* background-color: yellow; */
  float: right;
}

.subcontainercompanyleft-blockdown {
  height: 40%;
  width: 33.33333333%;
  /* background-color: brown; */
  padding: 40px 40px;
  float: left;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#zero {
  font-size: 40px;
  color: #038483;
  font-weight: bold;
  margin-bottom: 15px;
}

#subtitle {
  font-size: 23px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.subcontainercompanyleft-blockdowncenter {
  height: 60%;
  width: 33.33333333%;
  background-color: lightblue;
  float: left;
}

.subcontainercompanyleft-blockdownright {
  height: 60%;
  width: 33.33333333%;
  background-color: darkblue;
  float: left;
}

.subcontainercompanyleft-buttonleft {
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

#getintouchbutton {
  padding: 15px;
  background-color: #1a948f;
  border: 2px solid #1a948f;
  border-radius: 10px;
  margin-top: 60px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#readmorebutton {
  padding: 15px;
  background-color: transparent;
  border: 2px solid #1a948f;
  border-radius: 10px;
  margin-top: 60px;
  font-size: 15px;
  cursor: pointer;
  color: #1a948f;
  font-weight: bold;
  margin-left: 10px;
}

.subcontainercompanyleft-buttonright {
  height: 10%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  background-color: white;
  border: 2px solid black;
  margin-top: 30px;
}

.containercompanyright {
  height: 100%;
  width: 50%;
  background-image: url("../img/about-5.jpg");
  background-repeat: no-repeat;
  background-position: right;
  float: left;
}
/* FINE The Company */

/* Actions & Projects */
.actionscontainer {
  height: 250px;
  background-color: #121117;
}

.actionsup {
  height: 70%;
  background-color: #121117;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#domore {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #51bdbc;
}

#actions {
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.actionnav {
  height: 30%;
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionnav ul {
  list-style: none;
  display: inline-block;
}

.actionnav li {
  display: inline;
  margin-right: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.actionboxcontainer {
  height: 900px;
  background-color: #121117;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
}

.box1 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box2 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box3 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box4 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box5 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box6 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-6.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
  /* FINE Actions & Projects */

  /* Process Management */
  .processcontainer {
    height: 650px;
    background-image: url("../img/process_img1.jpg");
  }

  .processblockupcontainer {
    height: 40%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .processblockup {
    width: 30%;
  }

  #howitworks {
    font-weight: bold;
    color: #038483;
  }

  #processmanagement {
    margin-top: 12px;
    font-size: 55px;
    font-weight: bold;
    color: #121117;
  }

  #processparagraph {
    margin-top: 12px;
    font-size: 16px;
  }

  /* .processblockup p {
    margin-top: 12px;
  } */

  .processsubcontainer {
    height: 60%;
    /* background-color: brown;
    opacity: 0.5; */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
  }

  .processblockdown1 {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* background-color: darkblue; */
    /* border: 2px solid black; */
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  #processtitle {
    font-weight: bold;
    font-size: 20px;
  }

  #processpar {
    margin-top: 10px;
  }

  .processblockdown2 {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* background-color: darkblue; */
    /* border: 2px solid black; */
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  .processblockdown3 {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* background-color: darkblue; */
    /* border: 2px solid black; */
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  .processblockdown4 {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* background-color: darkblue; */
    /* border: 2px solid black; */
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  .processblockdown5 {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    /* background-color: darkblue; */
    /* border: 2px solid black; */
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }
  /* FINE Process Management */

  /* Trusted Feedback */
  .containertrusted1 {
    min-height: 250px;
    background-color: #e4eae6;
    /* border: 2px solid black; */
    text-align: center;
  }

  #trustedtitle {
    padding-top: 80px;
    font-weight: bold;
    font-size: 15px;
    color: #1a948f;
  }

  #trustedfeedback {
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
    color: #202427;
  }

  #trustedparagraph {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 550px;
    padding-right: 550px;
  }

  .containertrusted2 {
    min-height: 350px;
    background-color: #e4eae6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containertrusted p {
    margin-top: 10px;
  }

  #woocommerce {
    height: 40%;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    margin-right: 30px;
    align-items: center;
    padding: 30px 30px;
  }

  #woocommerce img {
    height: 20px;
  }

  #hcpicon1 {
    background-color: #E0FFFF;
    border-radius: 50%;
    border: 1px solid #E0FFFF;
    padding: 15px;
    color: #097a7c;
  }

  #hcptitle {
    font-size: 20px;
    font-weight: bold;
  }

  #hcpicon2 {
    background-color: #E0FFFF;
    border-radius: 50%;
    border: 1px solid #E0FFFF;
    padding: 15px;
    color: #097a7c;
  }

  #hcpicon3 {
    background-color: #E0FFFF;
    border-radius: 50%;
    border: 1px solid #E0FFFF;
    padding: 15px;
    color: #097a7c;
  }

  #wordpress {
    height: 40%;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    margin-right: 30px;
    align-items: center;
    padding: 30px 30px;
  }

  #wordpress img {
    height: 20px;
  }

  #pingdom {
    height: 40%;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    margin-right: 30px;
    align-items: center;
    padding: 30px 30px;
  }

  #pingdom img {
    height: 20px;
  }

  /* FINE Trusted Feedback */

  /* FOOTER */
  .bottomcontainer {
    height: 850px;
    background-color: #121117;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottombox {
    height: 100%;
    width: 60%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottomboxleft {
    min-height: 70%;
    width: 60%;
    float: left;
    /* border: 2px solid orange; */
    font-size: 40px;
  }

  #send {
    font-size: 15px;
    font-weight: bold;
    color: #51bdbc;
  }

  #getintouch {
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    color: white;
  }

  #respond {
    margin-top: 10px;
    font-size: 20px;
    color: #babdbe;
    margin-bottom: 50px;
  }

  .inputbox {
    min-height: 250px;
    min-width: 500px;
    /* border: 2px solid lightblue; */
  }

  .subinputbox1 {
    padding: 15px;
    width: 45%;
    float: left;
    border: 0px;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox2 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox3 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox4 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  /* #bottominput {
    height: 150px;
    width: 91.4%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  } */

  #bottomarea {
    height: 150px;
    width: 91.4%;
    padding: 15px;
    border: 0px;
    color: #badbde;
    background-color: #202427;
    resize: none;
    margin: 5px;
    font-family: arial;
    font-size: 13px;
  }
  #inputbutton {
    width: 80px;
    background: #1a948f;
    border: 2px solid #1a948f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    margin-top: 20px;
  }

  .bottomboxright {
    height: 100%;
    width: 40%;
    float: left;
    /* border: 2px solid lightblue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottomboxrightblock {
    height: 70%;
    width: 80%;
  }

  .example {
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

  .contactinfo div {
    color: #038483;
    margin-bottom: 20px;
  }

  .contactinfo span {
    margin-left: 10px;
  }

  /* #hcpicon2 {
    background-color: #E0FFFF;
    border-radius: 50%;
    border: 1px solid #E0FFFF;
    padding: 15px;
    color: #097a7c;
  } */

  .bottomboxrightblock div {
    margin-top: 15px;
  }

  .bottomboxrightblock button {
    margin-top: 15px;
  }

  .bottomboxrightblock li {
    margin-top: 15px;
    color: #babdbe;
  }

  .bottomboxrightblock i {
    font-size: 20px;
    border: 2px solid lightblue;
    border-radius: 100%;
    background-color: lightblue;
    padding: 10px;
  }

  .bottombox ul {
    list-style: none;
    display: inline;
  }

  .bottombox li {
    list-style: none;
  }

  .mapsquare {
    width: 120px;
    background: #121117;
    border: 2px solid #1a948f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
  }
  /* FINE FOOTER */
