* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  background-color: grey;
  font-family: arial;
}

/* navbar sopra */
#uppernavbar {
  height: 65px;
  display: flex;
  justify-content: center;
}

#navbar {
  height: 100%;
  width: 60%;
}

#navbar ul {
  list-style: none;
  display: inline;
}

#navbar li {
  list-style: none;
  display: inline;
}

.navleft {
  height: 100%;
  width: 50%;
  float: left;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navright {
  height: 100%;
  width: 50%;
  float: left;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* FINE navbar sopra */

/* navbar sotto */
#bottomnavbarcontainer {
  height: 860px;
  display: flex;
  justify-content: center;
}

#bottomnavbar {
  height: 100%;
  width: 60%;
  border: 2px solid black;
}

#bottomnavbar ul {
  list-style: none;
  display: inline;
}

#bottomnavbar li {
  list-style: none;
  display: inline;
}
/* sottonavbar sinistra */
.bottomnavleft {
  height: 10%;
  width: 20%;
  border: 2px solid yellow;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* sottonavbar destra */
.bottomnavright {
  height: 10%;
  width: 80%;
  border: 2px solid yellow;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* blocco sotto */
.bottomnavbarblock {
  height: 90%;
  width: 50%;
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottomnavbarblock span {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.subbottomnavbarblock {
  height: 60%;
  border: 2px solid blue;
}

.subbottomnavbarblock p {
  margin-top: 10px;
}


/* Human Capital Core Business Performance */
.containerhcp {
  height: 450px;
  background-color: #e4eae6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#humancapital {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 40px 40px;
}

#humancapital p {
  padding: 5px;
}

#corebusiness {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 40px 40px;
}

#corebusiness p {
  padding: 5px;
}

#performance {
  height: 50%;
  width: 15%;
  border-radius: 10px;
  background-color: white;
  margin-right: 30px;
  align-items: center;
  padding: 40px 40px;
}

#performance p {
  padding: 5px;
}
/* FINE Human Capital Core Business Performance */

/* The Company */
.containercompany {
  height: 600px;
  background-color: brown;
}

.containercompanyleft {
  height: 100%;
  width: 50%;
  background-color: white;
  float: left;
}

.containercompanyleft-blockup {
  height: 40%;
  width: 60%;
  padding: 40px 40px;
  background-color: orange;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.containercompanyleft-blockup p {
  margin-top: 10px;
  display: flex;
}

.containercompanyleft-blockdown {
  height: 60%;
  width: 60%;
  background-color: yellow;
  float: right;
}

.subcontainercompanyleft-blockdown {
  height: 60%;
  width: 33.33333333%;
  background-color: brown;
  padding: 40px 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.subcontainercompanyleft-blockdown p {
  height: 60%;
  width: 33.33333333%;
  background-color: brown;
  float: left;
}

.subcontainercompanyleft-blockdowncenter {
  height: 60%;
  width: 33.33333333%;
  background-color: lightblue;
  float: left;
}

.subcontainercompanyleft-blockdownright {
  height: 60%;
  width: 33.33333333%;
  background-color: darkblue;
  float: left;
}

.subcontainercompanyleft-buttonleft {
  height: 10%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  background-color: white;
  border: 2px solid black;
}

.subcontainercompanyleft-buttonright {
  height: 10%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  background-color: white;
  border: 2px solid black;
}

.containercompanyright {
  height: 100%;
  width: 50%;
  background-image: url("../img/about-5.jpg");
  background-repeat: no-repeat;
  background-position: right;
  float: left;
}
/* FINE The Company */

/* Actions & Projects */
.actionscontainer {
  height: 300px;
  background-color: #121117;
}

.actionsup {
  height: 70%;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.actionnav {
  height: 30%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionnav ul {
  list-style: none;
  display: inline-block;
}

.actionnav li {
  display: inline;
  margin-right: 20px;
}

.actionboxcontainer {
  height: 900px;
  background-color: brown;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
}

.box1 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.box2 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
}

.box3 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
}

.box4 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
}

.box5 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
}

.box6 {
  height: 40%;
  width: 30%;
  background-color: orange;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url("../img/project-6.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 40px;
  color: white;
  font-size: 25px;
}
  /* FINE Actions & Projects */

  /* Process Management */
  .processcontainer {
    height: 700px;
    background-image: url("../img/process_img1.jpg");
  }

  .processblockupcontainer {
    height: 40%;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .processblockup {
    width: 30%;
  }

  .processblockup p {
    margin-top: 12px;
  }

  .processsubcontainer {
    height: 60%;
    background-color: brown;
    opacity: 0.5;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .processblockdown {
    height: 50%;
    width: 30%;
    /* margin-right: 10px;
    margin-left: 10px; */
    background-color: darkblue;
    border: 2px solid black;
  }
  /* FINE Process Management */

  /* FOOTER */
  .bottomcontainer {
    height: 850px;
    background-color: #121117;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottombox {
    height: 100%;
    width: 60%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottomboxleft {
    min-height: 70%;
    width: 60%;
    float: left;
    border: 2px solid orange;
    font-size: 40px;
  }

  #send {
    font-size: 15px;
    font-weight: bold;
    color: #51bdbc;
  }

  #getintouch {
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    color: white;
  }

  #respond {
    margin-top: 10px;
    font-size: 20px;
    color: #babdbe;
    margin-bottom: 50px;
  }

  .inputbox {
    min-height: 250px;
    min-width: 500px;
    /* border: 2px solid lightblue; */
  }

  .subinputbox1 {
    padding: 15px;
    width: 45%;
    float: left;
    border: 0px;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox2 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox3 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  .subinputbox4 {
    padding: 15px;
    width: 45%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  #bottominput {
    height: 150px;
    width: 91.4%;
    border: 0px;
    float: left;
    color: #badbde;
    background-color: #202427;
    margin: 5px;
  }

  #inputbutton {
    width: 80px;
    background: #1a948f;
    border: 2px solid #1a948f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    margin-top: 20px;
  }

  .bottomboxright {
    height: 100%;
    width: 40%;
    float: left;
    /* border: 2px solid lightblue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottomboxrightblock {
    height: 70%;
    width: 80%;
  }

  .example {
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

  .contactinfo div {
    color: #038483;
  }

  .bottomboxrightblock div {
    margin-top: 15px;
  }

  .bottomboxrightblock button {
    margin-top: 15px;
  }

  .bottomboxrightblock li {
    margin-top: 15px;
    color: #babdbe;
  }

  .bottomboxrightblock i {
    font-size: 20px;
    border: 2px solid lightblue;
    border-radius: 100%;
    background-color: lightblue;
    padding: 10px;
  }

  .bottombox ul {
    list-style: none;
    display: inline;
  }

  .bottombox li {
    list-style: none;
  }

  .mapsquare {
    width: 120px;
    background: #121117;
    border: 2px solid #1a948f;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
  }
  /* FINE FOOTER */
