<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <!-- navbar sopra -->
        <nav id="uppernavbar">
          <div id="navbar">
            <!-- navbar sinistra -->
            <div class="navleft">
            <ul>
              <li><i :class="icons[0].clock"></i> {{hours}}</li>
            </ul>
            </div>
            <!-- navbar destra -->
            <div class="navright">
              <ul>
                <i :class="icons[4].phone"></i>
                <li>{{info[0].message}}</li>
                <i :class="icons[5].envelope"></i>
                <li>{{info[1].message}}</li>
                <i :class="icons[6].position"></i>
                <li>{{info[2].message}}</li>
              </ul>
            <!-- <ul v-for="item in info">
              <li>{{item.message}}</li>
            </ul> -->
            <i :class="icons[1].facebook"></i>
            <i :class="icons[2].twitter"></i>
            <i :class="icons[3].instagram"></i>
            </div>
          </div>
        </nav>
        <!-- FINE navbar sopra -->

        <!-- navbar sotto -->
        <nav id="bottomnavbarcontainer" :style="{ backgroundImage: 'url(' + navimage +')'}">
          <!-- container sottonavbar -->
          <div id="bottomnavbar">
            <!-- sottonavbar sinistra -->
            <div class="bottomnavleft">
              <h1>{{nexgen}}</h1>
            </div>
            <!-- sottonavbar destra -->
            <div class="bottomnavright">
              <ul v-for="item in navtext">
                <li>{{item.text}}</li>
              </ul>
              <ul>
                <li><i :class="user"></i></li>
              </ul>
              <ul>
                <li>{{touch}}</li>
              </ul>
            </div>
            <!-- blocco sotto -->
            <div class="bottomnavbarblock">
              <div class="subbottomnavbarblock">
                <p id="hr">{{humanresources}}</p>
                <p id="productivity">{{moreproductivity}}</p>
                <p id="planning">{{planning}}</p>
                <br>
                <button id="buttontouch">{{touch}}</button>
                <button id="buttonread">{{readmore}}</button>
              </div>
            </div>
          </div>
        </nav>
        <!-- FINE navbar sotto -->


      </header>

      <main>
        <!-- Human Capital Core Business Performance -->
        <div class="containerhcp">
          <div id="humancapital">
              <p id="hcpicon1" class="fas fa-user-friends"></p>
              <p id="hcptitle">Human Capital</p>
              <p>Humanizing business: Harness the power of technology to improve the way people work.</p>
          </div>
          <div id="corebusiness">
              <p id="hcpicon2" class="fas fa-chart-pie"></p>
              <p id="hcptitle">Core Business</p>
              <p>It takes innovative approaches to transform, modernize and run existing platforms.</p>
          </div>
          <div id="performance">
              <p id="hcpicon3" class="fas fa-tachometer-alt"></p>
              <p id="hcptitle">Performance</p>
              <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
          </div>
        </div>
        <!-- FINE Human Capital Core Business Performance -->

        <!-- The Company -->
        <div class="containercompany">
          <div class="containercompanyleft">
            <div class="containercompanyleft-blockup">
              <p id="companynetwork">ABOUT THE NETWORK</p>
              <p id="companytitle">The Company</p>
              <p id="companyparagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="containercompanyleft-blockdown">
              <div class="subcontainercompanyleft-blockdown">
                <div id="zero">0</div>
                <div id="subtitle">Employees</div>
                <div>Lorem ipsum dolor sit amet.</div>
              </div>
              <div class="subcontainercompanyleft-blockdown">
                <div id="zero">0</div>
                <div id="subtitle">Partners</div>
                <div>Lorem ipsum dolor sit amet.</div>
              </div>
              <div class="subcontainercompanyleft-blockdown">
                <div id="zero">0</div>
                <div id="subtitle">Customers</div>
                <div>Lorem ipsum dolor sit amet.</div>
              </div>
              <div class="subcontainercompanyleft-buttonleft">
                <button id="getintouchbutton">GET IN TOUCH</button>
                <button id="readmorebutton">READ MORE</button>
              </div>
              <!-- <div class="subcontainercompanyleft-buttonright">
                <div>READ MORE</div>
              </div> -->
            </div>
          </div>
          <div class="containercompanyright">

          </div>

        </div>
        <!-- FINE The Company -->

        <!-- Actions & Projects -->
        <div class="actionscontainer">
          <div class="actionsup">
            <p id="domore">WE DO MORE FOR EVERYONE</p>
            <p id="actions">Actions & Projects</p>
          </div>

          <div class="actionnav">
            <ul>
              <li>ALL</li>
              <li>INSTITUTIONAL</li>
              <li>SOCIAL</li>
              <li>EVENTS</li>
              <li>INNOVATION</li>
              <li>ENVIRONMENT</li>
              <li>TECHNOLOGY</li>
            </ul>
          </div>
        </div>

        <div class="actionboxcontainer">
          <div class="box1">Academic professional program in social media</div>
          <div class="box2">President's speech at the annual meeting</div>
          <div class="box3">International business trip in Shangai</div>
          <div class="box4">Technology workshop with education theme</div>
          <div class="box5">Donation of clothes and food to the partner NGO</div>
          <div class="box6">Confraternization of the procurement team</div>
        </div>
        <!-- FINE Actions & Projects -->

        <!-- Process Management -->
        <div class="processcontainer">
          <div class="processblockupcontainer">
            <div class="processblockup">
            <p id="howitworks">HOW IT WORKS IN PRACTICE</p>
            <p id="processmanagement">Process Management</p>
            <p id="processparagraph">We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.</p>
            </div>
          </div>

          <div class="processsubcontainer">
            <div class="processblockdown">

            </div>
            <div class="processblockdown">

            </div>
            <div class="processblockdown">

            </div>
            <div class="processblockdown">

            </div>
            <div class="processblockdown">

            </div>
          </div>
        </div>
        <!-- FINE Process Management -->

        <!-- Human Capital Core Business Performance -->
        <div class="containerhcp">
          <div id="humancapital">
              <p id=hcpicon class="fas fa-user-friends"></p>
              <p>Human Capital</p>
              <p>Humanizing business: Harness the power of technology to improve the way people work.</p>
          </div>
          <div id="corebusiness">
              <p class="fas fa-chart-pie"></p>
              <p>Core Business</p>
              <p>It takes innovative approaches to transform, modernize and run existing platforms.</p>
          </div>
          <div id="performance">
              <p class="fas fa-tachometer-alt"></p>
              <p>Performance</p>
              <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
          </div>
        </div>
        <!-- FINE Human Capital Core Business Performance -->
      </main>

      <footer>
        <div class="bottomcontainer">
          <div class="bottombox">
            <div class="bottomboxleft">
              <!-- <ul v-for="item in paragraphleft">
                <li>{{item.par}}</li>
              </ul> -->
              <div id="send">{{send}}</div>
              <div id="getintouch">{{getintouch}}</div>
              <div id="respond">{{respond}}</div>
              <div class="inputbox">
              <input class="subinputbox1" placeholder="Name"> <input class="subinputbox2" placeholder="Email">
              <input class="subinputbox3" placeholder="Phone"> <input class="subinputbox4" placeholder="More Info">
              <input id="bottominput" placeholder="Message">
              </div>
              <button id="inputbutton" type="button" name="button">{{send2}}</button>
            </div>
            <div class="bottomboxright">
              <div class="bottomboxrightblock">
                <div class="example">{{example}}</div>
                <ul v-for="item in paragraphright">
                <li>{{item.par}}</li>
                </ul>
                <div class="contactinfo">
                  <div><i :class="icons[4].phone"></i><span> {{info[0].message}}</span></div>
                  <div><i :class="icons[5].envelope"></i><span> {{info[1].message}}</span></div>
                  <div><i :class="icons[6].position"></i><span> {{info[2].message}}</span></div>
                </div>
                <button class="mapsquare">{{map}}</button>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/myscript.js"></script>
  </body>
</html>
